body {
    color:#555;
    margin:0;
    padding-left: 1em;
/*     font-family:sans-serif; */
    font-family:Arial,Helvetica,sans-serif;
    background:white;
}

.thumbnail {
    position: relative;
    z-index: 0;
    margin:10px;
}

.thumbnail:hover{
    background-color: transparent;
    z-index: 50;
}

.thumbnail span{ /*CSS for enlarged image*/
    position: absolute;
    background-color: lightyellow;
    padding: 5px;
    left: -1000px;
    border: 1px dashed gray;
    visibility: hidden;
    color: #888;
    text-decoration: none;
}

.thumbnail span img{ /*CSS for enlarged image*/
    border-width: 0;
    padding: 2px;
}

h2:first-letter {
  text-transform: uppercase;
  color:red;
}

ul.head_links { 
    margin-left:0px;
    padding-left:0px;
    margin-bottom:0px;
/*     width:15%; */
    float:left;
    margin-top:0px;
    padding-left:0px;
}

p.main_letter{ 
 margin-bottom: 0px;   
 margin:0;
 padding:0;
 margin-top:4px;
}
p.siple_letter { 
 margin-bottom: 0px;   
 margin:0;
 padding:0;  
}
p.main_letter:first-letter { 
    font-size:24px;
    margin-left:0px;
    font-weight:bold;
    color:#5E616D;
}

p.siple_letter:first-letter { 
    margin-left:0px;
    font-weight:bold;
    color:#606D6B;
    font-size:1.1em;
}

.thumbnail:hover span { /*CSS for enlarged image on hover*/
    visibility: visible;
    top: -400px;
    left: 180px; /*position where enlarged image should offset horizontally */
    margin-bottom:100px;
}


div.main { 
    margin-left:20px; 
    margin-top:10px; 
    margin-right:10px; 
    padding-left:20px;
    
}
div.user_data { 
    width:100%;
    float:left;
    margin:5px;
}
div.user_dismantles { 
    width:100%;
    float:left;
    margin:10px;    
    padding:10px;
}

table.block { 
    border-bottom:1px solid #CACACA; 
    border-right:1px solid #CACACA; 
    border-top:1px solid #CACACA; 
    border-left:1px solid #CACACA; 
    background-color:#F5FFEC;
    width:100%;
    border:0px;
}

ul.errorlist { 
    color:red;
}

ul, ol {
    list-style: none;
}

label { 
    font-weight: bold;
    font-size:1.0em;
    color: #888;
}
table.fat { 
    width:100%;
} 

div.basefields { 
    float:left;
    width:70%;
    font-size: 1.0em;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
}
input[type=text], input[type=password], textarea, select, .vTextField {
    border: 1px solid #ccc;
    width: 95%;
}

textarea { 
    height: 72px;
}
input[type=text], input[type=password], select { 
    height: 24px;
    width: 95%;
}

div.models { 
    float:left;
    width:70%;
}

div.images { 
    float:left;
    width:70%;
}
div.input_buttons { 
    float:right;
    width:70%;
}

#id_manufacture, #id_model { 
    font-size:22px;
    height: auto;
    width: auto;
}
#search_button { 
  font-size:22px;  
  height: auto;
  width: auto;
}

#search_elements { 
    width:100%;
    float:left;   
}

#table_dismantle { 
    width:45%;
    float:left;
    margin:5px;
}

h1.center{
    text-align:left;
}


div.title {
    color:#666666;
    font-weight:bold;
    font-size:18px;
/*     text-transform: uppercase; */
    margin-left:10px;
}
div.phone { 
/*     font-weight:bold;   */
    color:#D76B40;
    font-size:1.2em;
    margin-bottom:5px;
}
div.address {
    font-weight:normal; 
    font-size:1.2em;
    margin-bottom:5px;
}

div.short_remark{ 
    margin-bottom:5px;
    font-size:1.2em;
}
div.presentation{
    width:100%;
/*     #height:20%;  */
}
p.ErrorMessage{
    text-align:center;
    color:red;
}

p.ErrorMessageLeft{ 
    font-size:0.8em;
    text-align:left;
    color:red;
/*     padding-left:16%; */
}

p.Notification{
    text-align:center;
}

a
{
	color: #08C;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

#transl
{
	float: right;
	padding-top: 20px;
	padding-right: 20px;
}

#transl a
{
	text-decoration:none;
	color: #63C904;
}

#transl > a em { 
    color:#FFF;
    font-style:normal;    
    margin-left:5px;
    text-decoration:underline;
}

#header {
    padding-top: 1em;
    background:#333;
    margin:-1em 0em 3em -1em;
    /*box-shadow:0 0 3em rgba(0,0,0,0.2);*/
}

#header > a {
    color:#fff;
    display:block;
    padding:0.2em;
    font-size:2.5em;
    text-decoration:none;
}

#header > a em {
    color:#63C904;
    font-style:normal;
}

#header > ul.buttons {
    float:right;
}

iframe { border:none; }

#body { overflow:hidden; }
#body > div.related { width: 50%; display: block; float:right;}
#body > div.unrelated { width: 45%; }
.article
{
	padding: 0px 40px 40px 40px;
}

#footer {
        margin-left: -1em;
        padding:1em;
        padding-bottom: 0;
        color:#eee;
        background:#333;
        position: relative;
        margin-top: -51px;
        height: 50px;
        clear:both;
}

#footer a
{
        text-decoration:none;
        color: #63C904;
}

#footer > a em { 
    color:#63C904;
    font-style:normal;    
    font-size:12px;
    text-decoration:underline;
}

#Hello { 
    font-style:normal;
    font-size:18px;
}

#UserName { 
    font-style:normal;
    font-size:24px;
    margin-left:5px;
    font-weight:bold;
    text-decoration:underline;
}
#LogOut { 
    font-style:normal;
    text-decoration: underline;
    color:#FFF;
    font-size:24px;
    margin-left:5px;
}
html, body, #wrap {height: 100%;}

body > #wrap {height: auto; min-height: 100%;}

a.delete_model, a.delete_image { 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;  
    font-size:0.8em;
    color:#A0A0A0;
    text-decoration: underline;
}
a.password_href { 
    color:blue;
    text-decoration:underline;
}
a.tree_urls { 
    font-size:0.8em;
    color:#555555;
    margin-left:4px;
}
a.header_urls { 
    font-size:0.9em;
    color:#555555;
}
a.profile { 
    font-style:normal;
    text-decoration: underline;
    color:#FFF;
    font-size:24px;
    margin-left:5px    
}
td.big > input {
    background-color: white;
    border-bottom-color: rgba(82, 168, 236, 0.746094);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(82, 168, 236, 0.746094);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(82, 168, 236, 0.746094);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(82, 168, 236, 0.746094);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(82, 168, 236, 0.496094) 0px 0px 8px 0px;
    color: black;
    cursor: auto;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 24px;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: black;
    outline-style: none;
    outline-width: 0px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 8px;
    position: static;
    text-align: -webkit-auto;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    width: 95%;
    word-spacing: 0px;
    z-index: auto;
}
p.downspace { 
   margin-bottom:100px;    
}
div.main-page{ 
    margin-bottom:100px;
}
div.main-content{
    padding-left:100px;
}

dl, dt {
    margin: 0;
    padding: 0 .5em 0 0;
    float: left;
/*      */
    text-align: right;
}

dt.title { 
    font-weight: bold;    
}
dl, dd {
    margin: 0 0 0 11em;
    padding: 0 0 7px 12px;
    text-align: left;
    font-style:normal; 
}

input.Login, input.Registration { 
    font-size: 20px;
    float: right;
}

#body {padding-bottom: 50px;}  /* отступ должен быть равен высоте футера */
.clearfix:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/* Nice buttons.
 *
 * Markup: <ul class="buttons">
 *             <li><a href="somewhere">...</a></li>
 *             ...
 *         </ul>
 *
 * Additional classes:
 *     ul.big: make buttons twice as big
 *     ul.green: fill buttons with green instead, not gray
 *     li.selected: fill the button with inverted green gradient
 *                  indicating this button has been pressed.
 */
ul.buttons {
    margin:0;
    overflow:hidden;
    list-style:none;
}



ul.buttons > li {
    float:left;
    border:0 solid #e6e6e6;
    border-width:0 1px 1px 0;
    background:#f0f0f0;
    background:-webkit-linear-gradient(top, #f6f6f6, #f0f0f0, #eee);
    background:   -moz-linear-gradient(top, #f6f6f6, #f0f0f0, #eee);
    background:    -ms-linear-gradient(top, #f6f6f6, #f0f0f0, #eee);
    background:     -o-linear-gradient(top, #f6f6f6, #f0f0f0, #eee);
    background:        linear-gradient(top, #f6f6f6, #f0f0f0, #eee);
}

ul.buttons > li:hover {
    background:#fff;
    background:-webkit-linear-gradient(top, #eee, #fff);
    background:   -moz-linear-gradient(top, #eee, #fff);
    background:    -ms-linear-gradient(top, #eee, #fff);
    background:     -o-linear-gradient(top, #eee, #fff);
    background:        linear-gradient(top, #eee, #fff);
}

ul.buttons.green > li {
    background:#63C904;
    background:-webkit-linear-gradient(top, #63C904, #438803);
    background:   -moz-linear-gradient(top, #63C904, #438803);
    background:    -ms-linear-gradient(top, #63C904, #438803);
    background:     -o-linear-gradient(top, #63C904, #438803);
    background:        linear-gradient(top, #63C904, #438803);
    border-color:#588401;
}

ul.buttons.green > li:hover {
    background:#63C904;
    background:-webkit-linear-gradient(top, #63C904, #418303 );
    background:   -moz-linear-gradient(top, #63C904, #418803);
    background:    -ms-linear-gradient(top, #63C904, #418803);
    background:     -o-linear-gradient(top, #63C904, #418803);
    background:        linear-gradient(top, #63C904, #418803);
    border-color:#588401;
}

ul.buttons > li.selected {
    background:#438803;
    background:-webkit-linear-gradient(top, #438803, #63C904);
    background:   -moz-linear-gradient(top, #438803, #63C904);
    background:    -ms-linear-gradient(top, #438803, #63C904);
    background:     -o-linear-gradient(top, #438803, #63C904);
    background:        linear-gradient(top, #438803, #63C904);
    border-color:#588401;
}

ul.buttons > li:first-child {
    border-top-left-radius:0.5em;
    border-bottom-left-radius:0.5em;
    border-left-width:1px;
}

ul.buttons > li:last-child {
    border-top-right-radius:0.5em;
    border-bottom-right-radius:0.5em;
}

ul.buttons.top_bound > li {
    border-top-left-radius:0em;
    border-top-right-radius:0em;
}

ul.buttons > li > a {
    color:#444;
    display:block;
    padding:0.5em;
    text-decoration:none;
}

ul.buttons.big > li > a {
    font-size:1.5em;
    padding:1em;
}
ul.buttons.big2
{
	width: 200px;
	margin: 0 auto;
}
ul.buttons.big2 > li > a {
    font-size:1.2em;
    padding: 0.5em 0.8em;
    text-shadow: #666 1px 1px 0;
}

ul.buttons.green > li > a,
ul.buttons > li.selected > a {
    color:white;
}
textarea {
    vertical-align: top !important;
}
/* MODULES */

.module {
    border: 1px solid #ccc;
    margin: 5px;
    background: white;
}

.module p, .module ul, .module h3, .module h4, .module dl, .module pre {
    padding-left: 10px;
    padding-right: 10px;
}

.module blockquote {
    margin-left: 12px;
}

.module ul, .module ol {
    margin-left: 1.5em;
}

.module h3 {
    margin-top: .6em;
}


.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #7CA0C7 url(../img/admin/default-bg.gif) top left repeat-x;
    color: white;
}

h3 { 
    word-wrap:normal
}
.module table {
    border-collapse: collapse;
}