<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru"> 
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script src="http://code.jquery.com/jquery-latest.js"></script> 
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css">
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/doc.css" type="text/css">
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/redtable.css" type="text/css">
	
    <title>{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}</title>      
    
    {% block extra_head_base %}
        {% block extra_head %}{% endblock %}
        {% block google_maps %}{% endblock %}
        {% block yandex_maps %}{% endblock %}
    {% endblock %}
        
    <style type="text/css" media="screen">
        {% block extra_css %}
        {% endblock %}
    </style> 
    
    </head>
    <script>
    function set_cookie( c_name, value, exdays ) {
        var exdate=new Date();
        exdate.setDate(exdate.getDate() + exdays);
        var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
        document.cookie=c_name + "=" + c_value;
    }
    </script>
    <body class="{% block body_class %}{% endblock %}" bgcolor="#EEEEEE" onload="{% block body_initialize %} {% endblock%}" >  
    <input type="text" style="display:none" id="region"/>
    <div id="header">
            <div id="transl"><a href="/razborka/region">Регион: <em>{{region_name}}</em></a></div>
            <a href="/">Все<em>-разборки</em></a>
            <ul class="buttons top_bound">
                {% block main_button %}<li class=""><a href="/">Главная</a></li> {%endblock%}
                {% block blogs_button %}<li class=""><a href="/razborka/blogs">Статьи</a></li>{%endblock%}
                {% block dismantle_add_button %}<li class=""><a href="/razborka/dismantle-add">Добавить разборку</a></li>{%endblock%}
                {% block about_button %}<li class=""><a href="/razborka/about">О проекте</a></li>{%endblock%}
                {% block feedback_button %}<li class=""><a href="/razborka/feedback">Администрация сайта</a></li>{%endblock%}
            </ul>
    </div>
    
	<div class="body">   
        {% block body_outer %}
            {% block google_maps_div %}{% endblock %}
            {% block yandex_maps_div %}{% endblock %}
        {% endblock %}
        </div>
        <div id="footer">{% block footer %}{% endblock %}</div>

        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}           
    </body>
</html>
