{% extends "core/base.html" %}
{% block body_outer %}

<form method="post" action="">
{% csrf_token %}

<table>
{% if form.message %} <tr><td></td><td><p class="Notification">{{ form.message }}</p></td></tr> {% endif %}
{% if form.old_password.errors %} <tr><td></td><td><p class="ErrorMessage">{{ form.old_password.errors }}</p></td></tr> {% endif %}
<tr>
    <td>{{ form.old_password.label_tag }}</td>
    <td>{{ form.old_password }}</td>
</tr>

{% if form.new_password.errors %} <tr><td></td><td><p class="ErrorMessage">{{ form.new_password.errors }}</p></td></tr> {% endif %}
<tr>
    <td>{{ form.new_password.label_tag }}</td>
    <td>{{ form.new_password }}</td>
</tr>

<tr>
    <td> <input type="hidden" name="next" value="{{ next }}" />  </td>
    <td> <input type="submit" class="Login" value="Изменить" /> </td>
</tr>

<tr>
    <td><a class="password_href" href="/profile">Моя страница: {{login}}</a> </td>
    <td></td>
<tr>

</table>

</form>

<p class="downspace"></p>
{% endblock %}

{% block footer %}{% endblock %}