<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
        <title>Автотонус</title>
    </head>
    <body>
        <div style="border:gray 1px solid; border-style:ridge; width:300px; color:#888;">
           <table>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <b>Автотонус</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                                <div><img style="width:36px; height:36px;" src="/media/images/manufactures/mini/mazda.png"><span style="margin-left:10px;"></span><img style="width:36px; height:36px;" src="/media/images/manufactures/mini/bmw.png"><span style="margin-left:10px;"></span><img style="width:36px; height:36px;" src="/media/images/manufactures/mini/bentley.png"><span style="margin-left:10px;"></span></div>
                        </td>
                    </tr>
                    <tr>
                        <td><b style="color:#888;">тел:</b></td>
                        <td style="color:#D76B40;">8(916)73-034-73</td>
                    </tr>
                    <tr>
                        <td><b style="color:#888;">адрес:</b></td>
                        <td>Новосходненское шоссе д. 19</td>
                    </tr>                
                </tbody>
           </table>
        </div>
    </body>
</html>
