{% extends "core/base.html" %}

{% block body_outer %}

<h1 style="text-align:center;">Пользователь {{user.username}}</h1>
{% if form.errors %}
    <p class="ErrorMessage">Пожалуйста, введите корректные данные</p>
{% endif %}

{% if form.message %}
    <p class="Notification">Информация сохранена</p>
{% endif %}

<div class="main">
    <div class="user_data">
    <form method="post" action="">
    {% csrf_token %}

    <table>
    {% if form.login.errors %} <tr><td></td><td><p class="ErrorMessage">{{ form.login.errors }}</p></td></tr> {% endif %}
    <tr><td colspan="2"><h3>Персональные данные:</h3></td></tr>
    <tr>
        <td>{{ form.login.label_tag }}</td>
        <td class="big">{{ form.login }}</td>
    </tr>
    {% if form.email.errors %} <tr><td></td><td><p class="ErrorMessage">{{ form.email.errors }}</p></td></tr> {% endif %}
    <tr>
        <td>{{ form.email.label_tag }}</td>
        <td class="big">{{ form.email }}</td>
    </tr>
    {% if form.username.errors %} <tr><td></td><td><p class="ErrorMessage">{{ form.username.errors }}</p></td></tr> {% endif %}
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td class="big">{{ form.username }}</td>
    </tr>

    {% if form.phone.errors %} <tr><td></td><td><p class="ErrorMessage">{{ form.phone.errors }}</p></td></tr> {% endif %}
    <tr>
        <td>{{ form.phone.label_tag }}</td>
        <td class="big">{{ form.phone }}</td>
    </tr>
    <tr>

    {% if form.birthdate.errors %} <tr><td></td><td><p class="ErrorMessage">{{ form.birth_date.errors }}</p></td></tr> {% endif %}
    <tr>
        <td>{{ form.birth_date.label_tag }}</td>
        <td class="big">{{ form.birth_date }}</td>
    </tr>

    {% if form.user_balance.errors %} <tr><td></td><td><p class="ErrorMessage">{{ form.user_balance.errors }}</p></td></tr> {% endif %}
    <tr>
        <td>{{ form.user_balance.label_tag }}</td>
        <td class="big">{{ form.user_balance }}</td>
    </tr>

    <tr>
        <td> <input type="hidden" name="next" value="{{ next }}" /> </td>
        <td> <input type="submit" class="Registration" value="Сохранить изменения" /> </td>
    </tr>
    <tr>
        <td><a class="password_href" href="/razborka/changepassword">Изменить пароль</a> </td>
        <td></td>
    <tr>
    </table>
    </form>
    </div>
    <div class="user_dismantles">
        <table class="user_dismantles" style="width:100%;">
            <tr><td colspan="3"><h3>Авторазборки пользователя:</h3></td></tr>
                <tr><th>Разборка</th><th>Адрес</th><th>Последнее изменение</th></tr>
                {% for dismantle in dismantles %}
                    <tr><td><a href="/dismantle-view/{{dismantle.id}}">{{dismantle.title}}</a></td><td>{{dismantle.address}}</td><td>{{dismantle.last_editing}}</td></tr>
                {% endfor %}
        </table>
    </div>
</div>
<p class="downspace"></p>
{% endblock %}

{% block footer %} {% endblock %}