{% extends "core/base.html" %}
{% block body_outer %}

<form method="post" action="{% url dismantle.core.views.restorepassword %}">
{% csrf_token %}

<table>
{% if form.message %} <tr><td></td><td><p class="Notification">{{ form.message }}</p></td></tr> {% endif %}
{% if form.username.errors %} <tr><td></td><td><p class="ErrorMessage">{{ form.username.errors }}</p></td></tr> {% endif %}
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>

<tr>
    <td> <input type="hidden" name="next" value="{{ next }}" />  </td>
    <td> <input type="submit" class="Login" value="Восстановить" /> </td>
</tr>

</table>

</form>

<p class="downspace"></p>
{% endblock %}

{% block footer %}<a href="/registration"><em>Регистрация нового пользователя</em></a>{% endblock %}